@media only screen and (max-width: 755px){
    .planshet, .desctop{
        display: none;
    }

    .mob {
        display: block;
    }


    .xs-section{
        margin-top: 30px;
    }


    .block-with-image{
        text-align: center;
    }


    ul.mob-no-paddig-left{
        padding-left: 0px;  
    }


    li.dropdown.menu-item-has-children.open{
        height: auto;
    }




    /*    #header-top {
            display: none;
        }*/
    /*    #header {
            display: none;
        }*/
    #slider-items {
        display: none;
    }

    .image-block1 > img{
        width: 100%;
    }


    .title-row{
        display: none;
    }
    .title-row.mob{
        display: block;
    }

    .panel-heading > .panel-title > a{
        text-transform: none;
    }


    .navbar-toggle{
        border: 1px solid rgba(255, 255, 255, 0.51);
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #fff;
    }


    .navbar-collapse.collapse{
        position: relative;    margin-left: 180px;
    }
    .navbar-collapse.collapse.in{
        position: relative;    
        margin-left:0px;
    }



    .nav.navbar-nav.navbar-left.header-list li{
        border-bottom: 1px solid rgba(14, 95, 22, 0.36);
    }
    .nav.navbar-nav.navbar-left.header-list li:last-child{
        border-bottom: none;
    }


    #header-top .header-top > li{
        margin-bottom: 15px;
    }

    #header-top .header-top > .social-icons{
        margin-right: 15px;float: left;
    }

    #header-top .header-top > li:last-child{
        margin-bottom: 25px;
    }



    .mob-title-company{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        padding-top: 15px;
    }
    .mob-title-company{
        padding-left: 25px;
    }
    .navbar-static-top .mob-title-company{
        padding-left: 20px;
    }


    /*    .navbar-nav.navbar-left.header-list{
            background: #2d8536;
        }*/


    .nav.navbar-nav.navbar-left.header-list li:first-child{
        margin-top: 5px;
    }

    .navbar-static-top .nav.navbar-nav.navbar-left.header-list li:first-child{
        margin-top: 55px;
    }

    .nav.header-top li{
        bottom: 15px;
    }
    .nav.header-top li:first-child{
        margin-top: 25px;
    }
    .nav.header-top{
        float:left;
    }


    ul.navbar-nav.header-list > li.menu-item-has-children ul.dropdown-menu{
        margin-top: -1px;
    }


    .navbar-static-top .nav.navbar-nav.navbar-left.header-list li.dropdown li:first-child {
        margin-top: 5px;
    }
    .navbar-static-top .nav.navbar-nav.navbar-left.header-list li.dropdown ul{
        background:  rgb(28, 103, 36);  
    }
    .navbar-static-top .nav.navbar-nav.navbar-left.header-list li.dropdown ul li a{
        color: #fff;
    }

    .dropdown-menu {
        left: 0;
        left: auto;
        width: 100%;
        text-align: left;
        /* z-index: 87; */
    }

    /*    ul.navbar-nav.header-list > li.menu-item-has-children ul.dropdown-menu {
            margin-top: 3px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-top: 3px solid #0d6716;
            color: #000;
        }*/


    .logo-body-block.larg {
        width: 100px;
        height: 100px;
        /* background: rgba(45, 133, 54, 1); */
        position: absolute;
        top: -30px;
        left: 0px;
        text-align: center;
        z-index: 1;
        /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6); */
    }


    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    }
    .collapse {
        display: none;
    }
    .nav > li {
        position: relative;
        display: block;
    }

    .navbar-nav > li {
        float: none!important;
    }

    /*    .navbar-toggle {
            display: block;
        }*/

    /*    .navbar-toggle {
            position: relative;
            float: right;
            padding: 9px 10px;
            margin-top: 8px;
            margin-right: 15px;
            margin-bottom: 8px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }*/

    .navbar-header {
        float: none;
    }


    .navbar-collapse.collapse {
        position: relative;
        margin-left: 0px;
    }

    .collapse {
        display: none!important;
    }

    .collapse.in {
        display: block!important;
    }
    ul.navbar-nav.header-list > li.menu-item-has-children:hover > a:before {
        opacity: 0;
    }


    #header{
        height: 367px;
    }

}


