@media only screen and (min-width: 755px) {
    html{
        min-width: 1200px!important;
    }
    body{
        min-width: 1200px!important;
    }
    .container {
        width: 1170px;
    }
    /*
        .main-section2, .right-block{
            width: 70%; float: left;
        }*/

    .planshet, .desctop{
        display: block;
    }

    .mob {
        display: none;
    }

    .nav.header-top{
        float:right;
    }

    .nav.header-top li{
        margin-right: 15px;float: left;
    }

    .collapse.navbar-collapse{
        position: relative;
        margin-left: 165px;
    }  


    .nav.navbar-nav.navbar-left.header-list li {
        border-bottom: none;
    }


    .header-list > li:nth-child(1){
        text-align: center;
        max-width: 122px;
    }

    .header-list > li:nth-child(3){
        text-align: center;
        max-width: 160px;
    }
    .header-list > li:nth-child(5){
        text-align: center;
        max-width: 160px;
    }





    #slider-items {
        position: relative;
        float: right;
        /* position: absolute; */
        /* top: 0px; */
        /* right: 0px; */
        width: 30%;
        z-index: 1;
        background-color: #0F6A2D;
    }

    #slider-main {
        width: 70%;
        float: left;
    }

    .right-block{
        width: 30%; float: right;     padding-bottom: 30px;
    }

    .left-block{
        width: 70%;
        float: left; 
    }

    #header{
        height: 161px;
    }



}