/*  START Alex styles*/
@font-face {
    font-family: "opensans";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/opensans/opensans-bold/opensans-bold-webfont.eot?58376ce0');
    src: url('../fonts/opensans/opensans-bold/opensans-bold-webfont.eot?58376ce0#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-bold/opensans-bold-webfont.woff?58376ce0') format('woff'), url('../fonts/opensans/opensans-bold/opensans-bold-webfont.ttf?58376ce1') format('truetype'), url('../fonts/opensans/opensans-bold/opensans-bold-webfont.svg?58376ce0#opensans') format('svg');
}
@font-face {
    font-family: "opensans";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/opensans/opensans-regular/opensans-regular-webfont.eot?58376cdf');
    src: url('../fonts/opensans/opensans-regular/opensans-regular-webfont.eot?58376cdf#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-regular/opensans-regular-webfont.woff?58376cdf') format('woff'), url('../fonts/opensans/opensans-regular/opensans-regular-webfont.ttf?58376cdf') format('truetype'), url('../fonts/opensans/opensans-regular/opensans-regular-webfont.svg?58376cdf#opensans') format('svg');
}
@font-face {
    font-family: "opensans";
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/opensans/opensans-light/opensans-light-webfont.eot?58376ce0');
    src: url('../fonts/opensans/opensans-light/opensans-light-webfont.eot?58376ce0#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-light/opensans-light-webfont.woff?58376ce0') format('woff'), url('../fonts/opensans/opensans-light/opensans-light-webfont.ttf?58376ce0') format('truetype'), url('../fonts/opensans/opensans-light/opensans-light-webfont.svg?58376ce0#opensans') format('svg');
}
@font-face {
    font-family: "dosis";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/dosis/dosis-bold/dosis-bold-webfont.eot?58376ce1');
    src: url('../fonts/dosis/dosis-bold/dosis-bold-webfont.eot?58376ce1#iefix') format('embedded-opentype'), url('../fonts/dosis/dosis-bold/dosis-bold-webfont.woff?58376ce1') format('woff'), url('../fonts/dosis/dosis-bold/dosis-bold-webfont.ttf?58376ce1') format('truetype'), url('../fonts/dosis/dosis-bold/dosis-bold-webfont.svg?58376ce1#dosis') format('svg');
}
@font-face {
    font-family: "dosis";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/dosis/dosis-regular/dosis-regular-webfont.eot?58376ce1');
    src: url('../fonts/dosis/dosis-regular/dosis-regular-webfont.eot?58376ce1#iefix') format('embedded-opentype'), url('../fonts/dosis/dosis-regular/dosis-regular-webfont.woff?58376ce1') format('woff'), url('../fonts/dosis/dosis-regular/dosis-regular-webfont.ttf?58376ce1') format('truetype'), url('../fonts/dosis/dosis-regular/dosis-regular-webfont.svg?58376ce1#dosis') format('svg');
}
@font-face {
    font-family: "dosis";
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/dosis/dosis-light/dosis-light-webfont.eot?58376ce1');
    src: url('../fonts/dosis/dosis-light/dosis-light-webfont.eot?58376ce1#iefix') format('embedded-opentype'), url('../fonts/dosis/dosis-light/dosis-light-webfont.woff?58376ce1') format('woff'), url('../fonts/dosis/dosis-light/dosis-light-webfont.ttf?58376ce1') format('truetype'), url('../fonts/dosis/dosis-light/dosis-light-webfont.svg?58376ce1#dosis') format('svg');
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.warning{
    color: #f0ad4e!important;
}
.warning:hover{
    color: #fff!important;
}
.warning-hover:hover{
    background-color:  #f0ad4e!important;
    color: #fff;
}
.warning-hover:hover .warning{
    color: #fff!important;
}

html, body{
    min-height: 100%;
}
body{
    background: #eee;
}




body {
    font-family: "opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
}
.navbar.navbar-custom{
    margin-bottom: 0px;
}

/* line 13, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
h1, h2, h3, h4, h5 {
    font-family: "dosis", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 200;
    padding: 15px 0 10px 0;
}
/* line 18, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
h1 {
    /*font-size: 2.5rem;*/
}
/* line 21, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
h2 {
    /*font-size: 2.25rem;*/
}
/* line 24, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
h3 {
    /*font-size: 2rem;*/
}
/* line 27, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
h3.g-title {
    /*font-size: 1.8rem;*/
    font-family: "dosis", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    margin: 10px 0 15px 0;
}
/* line 34, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
h4 {
    /*font-size: 1.75rem;*/
}
/* line 37, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
h5 {
    /*font-size: 1.5rem;*/
}
/* line 40, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
h6 {
    /*font-size: 1.25rem;*/
}
/* line 45, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
hr {
    display: block;
    /*margin: 4rem 0;*/
    border-bottom: 1px solid rgba(136, 136, 136, 0.25);
}

/*a.collapse-toggle{
    color: #000;
}*/



.toogle-icon{
    float: right;
    background-color: rgba(45, 133, 54, 1);
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.toogle-icon.active{
    /*display: none;*/
}

a.collapse-toggle[aria-expanded=true] > .toogle-icon.active {
    display: block;
}
a.collapse-toggle[aria-expanded=true] > .toogle-icon.disable {
    display: none;
}

a.collapse-toggle[aria-expanded=false] > .toogle-icon.active {
    display: none;
}
a.collapse-toggle[aria-expanded=false] > .toogle-icon.disable {
    display: block;
}
a.collapse-toggle[aria-expanded=true]{
    color: rgba(45, 133, 54, 1);

}

a.collapse-toggle .toogle-icon.active{
    display: none;
}




.panel-default > .panel-heading {
    background: none;
}
.panel.panel-default{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
    border-top: none;
}

.panel-heading > .panel-title > a {
    text-transform: uppercase;
}

.dropdown-menu {
    right: 0;
    left: auto;
    text-align: left;
}
.dropdown-menu {
    min-width: 210px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-nav > li > .dropdown-menu {
    /*padding-top: 48px;*/
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff!important;
    /*background-color: rgba(45, 133, 54, 1);*/
    background-color: #25712d;
}
li.dropdown:hover .dropdown-toggle, li.dropdown:focus .dropdown-toggle{
    color: #fff;
}
li.dropdown:hover .g-menu-item-title, li.dropdown:focus .g-menu-item-title{
    border-bottom: 2px solid #fff;
}
.dropdown-menu > li > a {
    color: #565151;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(238, 238, 238, 0);
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: none;
}

.green-gradient{
    background: rgba(0,97,32,1);
    background: -moz-linear-gradient(top, rgba(0,97,32,1) 0%, rgba(0,6,18,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,97,32,1)), color-stop(100%, rgba(0,6,18,0)));
    background: -webkit-linear-gradient(top, rgba(0,97,32,1) 0%, rgba(0,6,18,0) 100%);
    background: -o-linear-gradient(top, rgba(0,97,32,1) 0%, rgba(0,6,18,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,97,32,1) 0%, rgba(0,6,18,0) 100%);
    background: linear-gradient(to bottom, rgba(0,97,32,1) 0%, rgba(0,6,18,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006120', endColorstr='#000612', GradientType=0 );
}
.green-gradient2{
    background: rgba(45, 133, 54, 1);
    background: -moz-linear-gradient(top, rgba(45, 133, 54, 1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45, 133, 54, 1)), color-stop(60%, rgba(0,42,24,0)), color-stop(100%, rgba(0,6,18,0)));
    background: -webkit-linear-gradient(top, rgba(45, 133, 54, 1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -o-linear-gradient(top, rgba(45, 133, 54, 1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -ms-linear-gradient(top, rgba(45, 133, 54, 1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: linear-gradient(to bottom, rgba(45, 133, 54, 1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006120', endColorstr='#000612', GradientType=0 );
}
.green-gradient2_2{
    background: rgba(45, 133, 54, 1);
    background: -moz-linear-gradient(top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(10%, rgba(45, 133, 54, 1)), color-stop(60%, rgba(0,42,24,0)), color-stop(100%, rgba(0,6,18,0)));
    background: -webkit-linear-gradient(top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -o-linear-gradient(top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -ms-linear-gradient(top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: linear-gradient(to bottom, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006120', endColorstr='#000612', GradientType=0 );
}
.green-gradient2_3{
    background: rgba(45, 133, 54, 1);
    /*    background: -moz-linear-gradient(top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(10%, rgba(45, 133, 54, 1)), color-stop(60%, rgba(0,42,24,0)), color-stop(100%, rgba(0,6,18,0)));
        background: -webkit-linear-gradient(top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
        background: -o-linear-gradient(top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
        background: -ms-linear-gradient(top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);*/
    background: linear-gradient(to top, rgba(45, 133, 54, 1) 10%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006120', endColorstr='#000612', GradientType=0 );
}
.green-gradient3{
    background: rgba(0,97,32,1);
    background: -moz-linear-gradient(top, rgba(0,97,32,1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,97,32,1)), color-stop(60%, rgba(0,42,24,0)), color-stop(100%, rgba(0,6,18,0)));
    background: -webkit-linear-gradient(top, rgba(0,97,32,1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -o-linear-gradient(top, rgba(0,97,32,1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,97,32,1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: linear-gradient(to bottom, rgba(0,97,32,1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006120', endColorstr='#000612', GradientType=0 );
}
.green-gradient4{
    background: rgba(45, 133, 54, 1);
    background: -moz-linear-gradient(top, rgba(45, 133, 54, 1) 0%, rgba(0,42,24,0) 60%, rgba(0,6,18,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(100%, rgba(45, 133, 54, 1)), color-stop(60%, rgba(0,42,24,0)), color-stop(100%, rgba(0,6,18,0)));
    background: -webkit-linear-gradient(top, rgba(45, 133, 54, 1) 100%, rgba(0,42,24,0) 100%, rgba(0,6,18,0) 100%);
    background: -o-linear-gradient(top, rgba(45, 133, 54, 1) 100%, rgba(0,42,24,0) 100%, rgba(0,6,18,0) 100%);
    background: -ms-linear-gradient(top, rgba(45, 133, 54, 1) 100%, rgba(0,42,24,0) 100%, rgba(0,6,18,0) 100%);
    background: linear-gradient(to bottom, rgba(45, 133, 54, 1) 100%, rgba(0,42,24,0) 100%, rgba(0,6,18,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006120', endColorstr='#000612', GradientType=0 );
}

/* line 52, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
.g-title {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    /*margin: 0 0 0.625rem 0;*/
    /*padding: 0 0 0.938rem 0;*/
    position: relative;
}
/* line 61, /home/lesha9772/domains/osteopathic-center.tk/public_html/templates/rt_photon/scss/photon/styles/_typography.scss */
.g-title-xlarge .g-title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    padding: 0;
}
a{
    cursor: pointer;
}


.header-with-logo{
    max-height: 130px;
    padding-top: 15px;
    text-align: center;
}

.header-with-logo > a{
    float: left;

}
.header-with-logo img{
    height: 130px;

}
div.text-for-logo{
    display: inline-block;
    vertical-align: middle;
}

.header-with-logo > .text-for-logo > h1,
.header-with-logo > .text-for-logo > h2{
    /*display: inline-block;*/
    font-style: italic;
}

#nav.affix-top {
    margin-top: -52px;
}
.nav.navbar-nav{
    /*border-radius: 8px 8px 8px 8px;*/
    /*overflow: hidden;*/
}


.collapse.navbar-collapse{
    /*background-color: #014518;*/
    /*background: none;*/
    /*border-radius: 8px 8px 8px 8px;*/
    /*border: 1px solid #2d8536;*/
    /*overflow: hidden!important;*/
}
.nav.navbar-nav a{
    padding: 5px 5px 5px 5px;
    /*height: 50px;*/
    /*line-height: 45px;*/
}
.navbar-custom .navbar-nav>li>a  {
    color: rgba(255, 255, 255, 1);
}
.navbar-custom .navbar-nav>li>a:hover,.navbar-custom .navbar-nav>li.ative>a {
    color: #fff;
    -webkit-transition: 0.75s ease-out;
    -moz-transition: color 0.75s ease-out;
}

ul.nav.navbar-nav > li{
    vertical-align: middle;
    width: auto;
    padding: 0px 5px 0px 5px;
}
ul.nav.navbar-nav > li:hover, ul.nav.navbar-nav > li.active{
    /*background-color: #2d8536;*/
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #2d8536;
}
.navbar.navbar-custom.navbar-inverse{
    margin-bottom: 0px;
}
/*  END Alex styles*/



.navbar-custom{
    /*background-color: #014518;*/
    /*background: transparent;*/
    width: 100%;
    font-size: 14px;
    font-family: "opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}


.g-menu-item-title:hover {
    border-bottom: 2px solid #fff;
}
.g-menu-item-title {
    /*padding-bottom: 0.938rem;*/
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color 0.75s ease-out;
    -moz-transition: border-color 0.75s ease-out;
    transition: border-color 0.75s ease-out;
}
.g-social a {
    color: #014518;
    background: rgba(255, 255, 255, 0.35);
    /*width: 1.3rem;*/
    /*height: 1.3rem;*/
    /*line-height: 1.4rem;*/
    /*font-size: 0.9rem;*/
    vertical-align: bottom;
}
.g-social a {
    color: #686868;
    background: #eee;
    display: inline-block;
    /*font-size: 0.8rem;*/
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
    border-radius: 2px;
}
.g-social {
    line-height: 2rem;
}


.absolute-top-background{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.fixed-top-background{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.collapse.navbar-collapse{
    /*    padding-top: 26px;
        padding-bottom: 18px;*/
    padding-top: 10px;
    padding-bottom: 5px;
}

ul.header-top{
    margin-top: 15px;
    margin-bottom: 15px;
}

ul.header-top >li >i.fa{
    font-size: 40px;
    color: #2D8536;
    /*color: #fff;*/
    vertical-align: top;
}



.bordered-bottom{
    border-bottom: 1px solid #ccc;
}
ul.navbar-nav.header-list > li{
    height: 55px;
}
ul.navbar-nav.header-list > li.menu-item-has-children > a:before {
    content: ' ';
    position: absolute;
    left: 42%;
    bottom: 0;
    width: 0;
    height: 0;
    margin: 0 0 0 -6px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #0d6716;
    opacity: 0;
    -webkit-transition: all 360ms ease;
    -moz-transition: all 360ms ease;
    transition: all 360ms ease;
}
ul.navbar-nav.header-list > li.menu-item-has-children:hover > a:before{
    opacity: 1;
}
ul.navbar-nav.header-list > li.menu-item-has-children ul.dropdown-menu {
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom:  0px;
    border-top: 3px solid #0d6716;
    color: #000;
}
ul.navbar-nav.header-list > li.menu-item-has-children > a {
    padding-bottom: 16px;
    height: 60px;
}
ul.navbar-nav.header-list > li > a{
    /*line-height: 35px;*/
}
ul.navbar-nav.header-list ul li:first-child > a {

}

.navbar.navbar-custom {
    /*    color: rgba(255, 255, 255, 0.45)*/
}

#slideshow {
    /*background: #006120;*/
    color: #fff;
    position: relative;
    /*z-index: 1;*/
}

.unslider-wrap.unslider-carousel>li {
    float: left;
    height: 325px;
    background-color: #ccc;
}
header {
    background: #f16251;
    height:250px;
    color:#000000;
    width: 100%;
    height: 250px;
    background: url(../img/header.jpg) 0 0% repeat-x;
}
.unslider-arrow { 
    visibility: hidden;	 
}

/*Use dynamic content to add in a different character and show it*/ 
.unslider-arrow:before {
    visibility: visible;
}
.unslider-arrow.prev:before {
    content: '<';
}
.unslider-arrow.next:before {
    content: '>';
}


section{
    position: relative;
}

.navbar-custom .navbar-nav>li>a.current{
    color:#fff;  
}
.navbar-custom .navbar-nav>li>a.current > .g-menu-item-title{
    border-bottom: 2px solid #fff;
}

.g-pricingtable {
    padding-left: 0px;
    list-style: none;
}

.logo-body-block.larg{
    width: 150px;
    height: 150px;
    /*background: rgba(45, 133, 54, 1);*/
    position: absolute;
    top: -30px;
    left: 0px;
    text-align: center;
    z-index: 1;
    /*    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);*/
}

.fixed-nav{
    padding-top: 130px;
}

.logo-body-block.small{
    width: 150px;
    height: 130px;
    /*background: rgba(45, 133, 54, 1);*/
    position: absolute;
    top: 5px;
    left: 0px;
    text-align: center;
    /*    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);*/
}
.logo-img-header{
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

a.active{
    color: #ffffff!important;
    background-color: rgba(45, 133, 54, 1);
    background-color: #2d8536;
}

.wtite.background{
    background-color: #fff;
    display: inline-block;
    width: 100%;

}
.section-top{
    margin-top: 25px;
}

/*START FOR PAGE INDEX*/


.g-gridcontent .g-gridcontent-2cols .g-gridcontent-item {
    width: 50%;
}
.g-gridcontent .g-gridcontent-item .g-gridcontent-item-wrapper {
    -webkit-transition: background 0.55s ease-out;
    -moz-transition: background 0.55s ease-out;
    transition: background 0.55s ease-out;
}
.g-gridcontent .g-gridcontent-item .g-gridcontent-item-wrapper.g-gridcontent-accent1 .fa, .g-gridcontent .g-gridcontent-item .g-gridcontent-item-wrapper.g-gridcontent-accent1 a {
    color: rgba(45, 133, 54, 1);
}
.g-gridcontent .g-gridcontent-item .g-gridcontent-item-wrapper.g-gridcontent-accent1:hover {
    background-color: rgba(45, 133, 54, 1);
    color: #fff;
}

.g-gridcontent-wrapper.g-gridcontent-2cols .g-gridcontent-item-title{
    color: rgba(45, 133, 54, 1);
}
.g-gridcontent-item-wrapper:hover .g-gridcontent-item-title {
    color: #fff!important;
}

.g-gridcontent .g-gridcontent-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /*margin: -0.625rem;*/
}
.g-gridcontent .g-gridcontent-item {
    /*    -webkit-box-flex: 0;
        -moz-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 0 auto;
        -moz-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: 0px;
        width: 100%;
        display: inline-block;*/
    /*padding: 0.625rem;*/
}
.g-gridcontent .g-gridcontent-item .g-gridcontent-item-wrapper i.fa, .g-gridcontent .g-gridcontent-item .g-gridcontent-item-wrapper span {
    display: block;
    text-align: center;
}
.g-gridcontent .g-gridcontent-item .g-gridcontent-item-wrapper i.fa {
    font-size: 40px;
    color: rgba(45, 133, 54, 1);
    margin: 10px auto 25px auto;
}
.g-gridcontent .g-gridcontent-item:hover .g-gridcontent-item-wrapper i.fa{
    color: #fff;
}
.g-gridcontent .g-gridcontent-item-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.g-pricingtable-accent1 .g-pricingtable .g-pricingtable-plan a, .g-pricingtable-accent1 .g-pricingtable .g-pricingtable-price, .g-pricingtable-accent1 .g-pricingtable .g-pricingtable-item .fa {
    /*color: rgba(45, 133, 54, 1);*/
    color: #000;
}
.g-pricingtable .g-pricingtable-price {
    color: rgba(45, 133, 54, 1);
    /*font-size: 3rem;*/
    font-weight: 200;
    line-height: 1;
    font-size: 45px;
}
.g-pricingtable .g-pricingtable-plan {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    padding: 15px 0;
    /*padding: 1.563rem 0;*/
}

.g-pricingtable {
    width: 100%;
    list-style: none;
    color: #686868;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    overflow: hidden;
}


.g-pricingtable .g-pricingtable-item.g-pricingtable-item-0 {
    position: relative;
    margin-top: 13px;
    padding-top: 15px;
}

.g-pricingtable .g-pricingtable-cta {
    margin-top: 19px;
    height: 160px;
    margin-left: -15px;
    margin-right: -15px;
}

.g-pricingtable-accent1 .g-pricingtable .button {
    background-color: rgba(45, 133, 54, 1);
}

.g-pricingtable .g-pricingtable-cta .button {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 0;
    left: 0;
}
.g-pricingtable .g-pricingtable-item.g-pricingtable-item-0 {
    position: relative;
    margin-top: 13px;
    padding-top: 15px;
}

.g-pricingtable .g-pricingtable-item {
    font-size: 16px;
    color: #b5b5b5;
    padding-bottom: 10px;
}

#g-header .g-title {
    color: #c1c1c1;
}

.g-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 0.8px 0;
    padding: 0 0 0.9px 0;
    position: relative;
}
.g-imagegrid .g-imagegrid-desc {
    margin: 15px 0;
}
.g-imagegrid .g-imagegrid-5cols .g-imagegrid-item {
    width: 19%;
}

.g-imagegrid .g-imagegrid-item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 15px;
    display: inline-block;
    /*display: table;*/
    vertical-align: middle;
    position: relative;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.g-imagegrid .g-imagegrid-link {
    display: block;
    position: relative;
    background: rgba(45, 133, 54, 1);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.g-imagegrid .g-imagegrid-link:before {
    color: #fff;
    background: rgba(45, 133, 54, 1);
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.g-imagegrid .g-imagegrid-item:hover .g-imagegrid-link:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.g-imagegrid .g-imagegrid-item .indicator {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #fff;
    font-weight: 200;
    font-style: normal;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.g-imagegrid .g-imagegrid-item:hover .indicator div {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.g-imagegrid .g-imagegrid-item .indicator div {
    flex: none;
    -webkit-flex: none;
    max-width: 50%;
    padding-bottom: 5px;
    font-size: 110px;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.g-imagegrid {
    padding: 15px 0px 15px 0px;
}

.g-imagegrid .g-imagegrid-item .indicator div {
    flex: none;
    -webkit-flex: none;
    max-width: 50%;
    padding-bottom: 5px;
    font-size: 110px;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}


.g-imagegrid-link img{
    height: 140px;
}

.slider-clinica-images{
    position: relative;
}

.comments-block{
    background-color: rgba(45, 133, 54, 1);
    position: relative;
    width: 100%;
    color: #fff;
    margin-top: -15px;
}

.g-owlcarousel-layout-testimonial .g-owlcarousel-item-desc {
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    padding: 10px;
    margin: 6px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}
.g-owlcarousel-item-desc {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 200;
    padding-bottom: 20px;
    margin-bottom: 6px;
}
.g-owlcarousel-layout-testimonial .g-owlcarousel-item-desc i {
    display: block;
    font-size: 35px;
    padding: 3px;
    margin: 2px;
}

.comments-pagination {
    width: 100%;
    text-align: center;

}
.comments-pagination > ul {
    list-style: none;
    display: inline-block;

}
.comments-pagination > ul > li {
    float: left;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.comments-pagination > ul > li > img {
    width: 12px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    border: 2px solid #fff;
}
.comments-pagination > ul > li.selected > img {
    width: 16px;
    border-radius: 50%;
    opacity: 1;
    border: 2px solid #fff;
}

.clinica-desc{
    background-color: #fff;
    padding: 15px;
}


.slider-clinica-images > .owl-controls{
    position: absolute;
    right: 80px;
    bottom: 15px;
}

.slider-clinica-images .owl-nav div {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    display: inline-block;
    opacity: 1;
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 6px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}

.g-simplecontent-item-content-title {
    color: rgba(45, 133, 54, 1);
    font-size: 22px;
    font-weight: 700;
    margin: 8px 0;
}

.index-about-clinic{
    line-height: 1.5;
    font-size: 16px;
    color: #686868;
}

#rigth-block-4 .g-gridcontent-item{
    cursor: pointer;
}
#rigth-block-4 .g-gridcontent-item a{
    color: #000;
}

/* END FOR PAGE INDEX*/


/* STARTS FOR PAGE CONTACTS*/

.background-top-block{
    background-color: #294239;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    height: 215px;
}
.title-block{
    padding: 15px 15px 15px 15px; 
    background-color: #fff;
}
.title-block h1{
    color: #000;
    font-size: 40px;
    text-align: center;
}
.descriptrion-after-title{
    text-align: center;
    padding: 35px 0px 35px 0px;
    font-size: 25px;
}

/* END FOR PAGE CONTACTS*/
/* START FOR PAGE PRICE*/

.price-block{
    background-color: #fff;
    margin-top: 15px;
}


thead > tr > th.npp{
    min-width: 70px;
    width: 7%;
}
tbody > tr > th.npp{
    min-width: 70px;
    width: 7%;
}

thead > tr > th.time{
    min-width: 70px;
    width: 11%;
}
tbody > tr > th.time{
    min-width: 70px;
    width: 11%;
}
thead > tr > th.price{
    min-width: 130px;
    width: 12%;
}
tbody > tr > th.price{
    min-width: 130px;
    width: 12%;
}

/* END FOR PAGE PRICE*/

.li-style > li{
    list-style-type: none;
    padding-top: 10px;
}
.li-style > li:first-child{
    padding-top: 0px;    
}
.li-style-padding > li {
    padding-top: 10px;}



.logo-body-block{
    -webkit-transition: 0.75s ease-out;
    -moz-transition: color 0.75s ease-out;
}

.fixed-top .logo-body-block.larg{
    width: 100px;
    height: 61px;
    /* background: rgba(45, 133, 54, 1); */
    position: absolute;
    top: 4px;
    left: 0px;
    text-align: center;
    z-index: 1;
}


ul.ul-green-markers li{
    color: #2d8536;
    list-style: square;
}
ul.ul-green-markers li>span{
    color: #000;
}


.lightBoxGallery img{
    margin-bottom: 5px;
    border-radius: 6px;
}

.has-error .form-control {
    border-color: #ef0500;
}

.lightBoxGallery{
    text-align: center;
}


.navbar-static-top .first-bc{
    /*    -webkit-transition: 0.75s ease-out;
        -moz-transition: color 0.75s ease-out;*/
    position: absolute;    width: 100%;    height: 100px;    left: 0px;    top: 3px;
}
.navbar-static-top .last-bc{
    /*    -webkit-transition: 0.75s ease-out;
        -moz-transition: color 0.75s ease-out;*/
    position: absolute;    width: 100%;     height: 100px;     left: 0px;    top: 148px;
}

.navbar-fixed-top .first-bc{
    /*    -webkit-transition: 0.75s ease-out;
        -moz-transition: color 0.75s ease-out;*/
    display: none;
}
.navbar-fixed-top .last-bc{
    /*    -webkit-transition: 0.75s ease-out;
        -moz-transition: color 0.75s ease-out;*/
    /*display: none;*/
    position: absolute;    width: 100%;     height: 100px;     left: 0px;    top: 58px;
}

.col-md-12{
    display: inline-block;
}


#fixed-panel{
    position: relative;
}

#fixed-panel.fixed-top{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}


.fon-green {
    position: absolute;
    width: 100%;
    height: 95px;
    top: -12px;
    left:0px;

    background-color: rgba(138, 186, 125, 0.01);
    /* IE9, iOS 3.2+ */
    /*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZThlZmM1IiBzdG9wLW9wYWNpdHk9IjAuMDYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyZDg1MzYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUwMSIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzg2MzYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUxIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2U5ZWVjNCIgc3RvcC1vcGFjaXR5PSIwLjA2IiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);*/
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(232, 239, 197, 0.06)),color-stop(0.501, rgb(45, 133, 54)),color-stop(0.51, rgb(44, 134, 54)),color-stop(1, rgba(233, 238, 196, 0.06)));*/
    /* Android 2.3 */
    /*background-image: -webkit-repeating-linear-gradient(top,rgba(232, 239, 197, 0.06) 0%,rgb(45, 133, 54) 50.1%,rgb(44, 134, 54) 51%,rgba(233, 238, 196, 0.06) 100%);*/
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgba(232, 239, 197, 0.30) 0%,rgb(45, 133, 54) 20.1%,rgb(44, 134, 54) 81%,rgba(233, 238, 196, 0.06) 100%);
    /*background-image: -ms-repeating-linear-gradient(top,rgba(232, 239, 197, 0.06) 0%,rgb(45, 133, 54) 50.1%,rgb(44, 134, 54) 51%,rgba(233, 238, 196, 0.06) 100%);*/
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .fon-green {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0fe8efc5",endColorstr="#0fe9eec4",GradientType=0);
    }
}