#slideshow{
    padding-top: 15px;
    /*    padding-top: 15px;*/
}

#slider-main{
    position: relative;
    background: #006120;
}
.slide-image{
    position: relative;
}
.slide{
    background-size: cover;
    width: 100%;
    /*    background-image: url('http://osteopathic-center.tk/images/rocketlauncher/home/slideshow/img-02.jpg');*/
}

a {
    text-decoration: none!important;
}
.g-newsslider-button {
    display: inline-block;
    margin: 10px 0;
    /*margin: 1rem 0;*/
}

.slider-items li{
    cursor: pointer;
    /*height: 90px;*/

}
.g-newsslider-headlines li:hover {
    background: #002e0f;
}

.arrow-container{
    display: inline-block;
}
.g-newsslider-navigation {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    z-index: 21;
    height: 50px;
}
.g-newsslider-navigation div {
    cursor: pointer;
    min-width: 0;
    min-height: 0;
    text-align: center;
    padding-top: 10px;
    height: 100%;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    width: 50%;
    -webkit-transition: all 0.75s ease-out;
    -moz-transition: all 0.75s ease-out;
    transition: all 0.75s ease-out;
}
.g-newsslider-navigation div.next {
    background: #26792e;
}
.g-newsslider-navigation div.prev {
    background: #2e9038;
}

.g-newsslider-overlay {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*    background: - webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, #003813 100%);
        background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, #003813 100%);*/
    padding: 5px 15px;
    /*padding: 0.5rem 1.563rem;*/
}

.g-newsslider-preview-title {
    line-height: 1.25;
    font-family: "dosis", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 200;
    margin-top: 150px;
    font-size: 40px;
    text-shadow: 1px 3px 0px #000;
}

.button {
    display: inline-block;
    font-family: "opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    background: rgba(45, 133, 54, 1);
    color: #fff !important;
    text-transform: uppercase;
    /*font-size: 0.7rem;*/
    border: 2px solid transparent;
    /*margin: 0 0 0.5rem 0;*/
    padding: 4px 10px;
    /*padding: 0.4rem 1rem;*/
    border-radius: 1px;
    vertical-align: middle;
    text-shadow: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.button:hover, .button:active, .button:focus {
    background: #2b9a36;
    color: #fff !important;
}

.g-newsslider-pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "opensans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    z-index: 60;
    padding: 0 15px;
    /*padding: 0 1.563rem;*/
}
.g-newsslider-pagination li {
    cursor: pointer;
    display: block;
    float: left;
    padding: 10px 15px;
    margin-right: 1px;
    background: rgba(0, 97, 32, 0.4);
}


.g-newsslider-pagination li.selected {
    background: #36c244;
}



ul.g-newsslider-headlines{
    padding: 0px;
    list-style: none;
}
.g-newsslider-headlines li {
    padding: 20px;
    /*padding: 2rem;*/
    padding-left: 40px;
    /*padding-left: 4rem;*/
    -webkit-transition: all 0.75s ease-out;
    -moz-transition: all 0.75s ease-out;
    transition: all 0.75s ease-out;
    /*opacity: 0.3;*/
}
/*    .g-newsslider-headlines .arrow-container {
        position: absolute;
        margin-left: -2rem;
        top: 33%;
        font-size: 20px;
    }*/

.g-newsslider-headlines li.selected {
    opacity: 1;
    background: #36c244;
    /*margin-left: -2rem;*/
    margin-left: -20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
.slider-items .g-newsslider-scrollbar li{
    font-size: 20px;
    height: 102px;
    line-height: 62px;
}












/*@media (max-width: 960px){*/

#slider-main{
    width: 100%;
    /*height: 300px;*/
}

/*    .slide-image > div{
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
    }*/

/*}*/
/*@media (min-width: 960px){*/
/*    #slider-main{
        width: 70%;
        float: left;
    }*/
.slider-block{

    /*padding-right: 365px;*/
}
.slide{
    height: 468px;
    background-position-x: center;
}
#slider-main{
    /*height: 468px;*/
    /*margin-right: 365px;*/
}
#slider-items{
    position: relative;
    float: right;
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    width: 30%;
    z-index: 1;
    background-color: #0F6A2D;
}




/*}*/