.image-cutter {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-cutter input[type=file] {
    display: none;
}

.image-cutter .dropzone .dummy {
    padding-top: 100%;
}

.image-cutter .dropzone {
    border: 2px dashed #0087F7;
    background: white;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    cursor: pointer;
    display: block;
    text-align: center;
    position: relative;
}

.image-cutter .dropzone .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    padding: 1px;
}

.image-cutter .dropzone .img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.image-cutter .dropzone .img-container span {
    color: #646C7F;
    font-size: 22px;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    font-weight: 400;
    width: 100%;
    z-index: 1;
}

.image-cutter .dropzone .img-container img {
    max-height: 100%;
    max-width: 100%;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

