.nav.side-menu > li.current-page, .nav.side-menu > li.active {
    border-right: 5px solid #fbaf17;
}
body {
    color: #73879C;
    background: #272727;
}
.left_col {
    background: #272727;
}
.sidebar-footer a {
    background: #272727;
}
.sidebar-footer {
    background: linear-gradient(#334556, #2C4257), #2A3F54;
}
.sidebar-footer.hidden-small .glyphicon{
    color: #e1e1e1;
}
.sidebar-footer a:hover {
    background: linear-gradient(#334556, #2C4257), #2A3F54;
}

.sidebar-footer > a:hover > .glyphicon {
    color: #fbaf17;
}
.nav_title {
    background: #272727;
}

.hr-line-dashed {
    border-top: 1px dashed #93979a;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}